<div class="auth-wrapper">
  <form class="form-signin" (submit)="onSignup(authForm)" #authForm="ngForm">
    <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>
    <div class="form-group">
      <label>name</label>
      <input class="form-control" type="name" name="name" placeholder="Enter name" ngModel required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" type="email" name="email" placeholder="Enter email" ngModel required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="password" ngModel required>
    </div>
    <div class="control">
      <button class="button is-primary is-rounded" type="submit">Sign in</button>
    </div>
    <!-- <button type="submit" class="btn btn-block btn-primary">Sign in</button> -->
  </form>
</div>

<!-- <div class="auth-wrapper">
  <form (submit)="onSignup(authForm)" #authForm="ngForm">
    <div class="form-group">
      <label>name</label>
      <input type="name" name="name" placeholder="Enter name" ngModel required>
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" name="email" placeholder="Enter email" ngModel required>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" placeholder="password" ngModel required>
    </div>
    <div>
      <button type="submit">register</button>
    </div>
  </form>

</div> -->
